<a href="https://colab.research.google.com/github/biapeabody/Projeto_Final_Dados_03_10_ENEM_RR/blob/main/2_Notebooks_Colab/Enem2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Dicionário de Dados Oficial - ENEM 2024](https://docs.google.com/spreadsheets/d/12b7Ya5RYChHrW6FbrthDjEfWG94PcixKyFOEzkLBlso/edit?usp=sharing)

### **Bibliotecas & Conexão com o Google Drive**

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **Base de Dados - ENEM 2024**

In [ ]:
caminho = '/content/drive/MyDrive/Projeto Final - DADOS_3_10/1. Bases de Dados/Dados_2024/PARTICIPANTES_2024.csv'

df = pd.read_csv(caminho, sep=';', encoding='latin1')

df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ENSINO,...,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023
0,210062064233,2024,5,F,1,1,1,1,3,NaN,...,A,B,B,B,D,A,B,B,E,A
1,210062064234,2024,11,F,1,1,1,1,10,NaN,...,A,A,A,A,B,A,B,A,C,A
2,210062064235,2024,11,F,1,1,1,1,9,NaN,...,A,B,B,B,D,B,B,A,D,A
3,210062064236,2024,3,F,1,3,1,2,0,1.0,...,A,B,A,A,A,A,B,A,D,A
4,210062064237,2024,16,M,3,1,1,1,18,NaN,...,A,A,A,A,B,A,B,A,B,A

In [ ]:
df.shape
# (linhas, colunas)

(4332944, 38)

In [ ]:
df.info()
# tipos de dados e se há valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332944 entries, 0 to 4332943
Data columns (total 38 columns):
 #   Column              Dtype
---  ------              -----
 0   NU_INSCRICAO        int64
 1   NU_ANO              int64
 2   TP_FAIXA_ETARIA     int64
 3   TP_SEXO             object
 4   TP_ESTADO_CIVIL     int64
 5   TP_COR_RACA         int64
 6   TP_NACIONALIDADE    int64
 7   TP_ST_CONCLUSAO     int64
 8   TP_ANO_CONCLUIU     int64
 9   TP_ENSINO           float64
 10  IN_TREINEIRO        int64
 11  CO_MUNICIPIO_PROVA  int64
 12  NO_MUNICIPIO_PROVA  object
 13  CO_UF_PROVA         int64
 14  SG_UF_PROVA         object
 15  Q001                object
 16  Q002                object
 17  Q003                object
 18  Q004                object
 19  Q005                int64
 20  Q006                object
 21  Q007                object
 22  Q008                object
 23  Q009                object
 24  Q010                object
 25  Q011                object
 26  Q012                object
 27  Q013                object
 28  Q014                object
 29  Q015                object
 30  Q016                object
 31  Q017                object
 32  Q018                object
 33  Q019                object
 34  Q020                object
 35  Q021                object
 36  Q022                object
 37  Q023                object
dtypes: float64(1), int64(12), object(25)
memory usage: 1.2+ GB

In [ ]:
list(df.columns)
# listando as colunas - de forma organizada

['NU_INSCRICAO',
 'NU_ANO',
 'TP_FAIXA_ETARIA',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023']

In [ ]:
# Filtrar apenas os registros de Roraima (SG_UF_PROVA == 'RR')
df_limpo = df[df['SG_UF_PROVA'] == 'RR']

In [ ]:
df_limpo.shape
# (linhas, colunas)

(12695, 38)

In [ ]:
df_limpo['SG_UF_PROVA'].value_counts()

SG_UF_PROVA
RR    12695
Name: count, dtype: int64

In [ ]:
# lista das colunas que vão ficar, as demais vão ser dropadas (mesmas colunas de 2024)
# em 2024 fiz dic de colunas para remover, aqui fiz o inverso (mais fácil) para não errar

colunas_desejadas = [
    'NU_INSCRICAO',
    'NU_ANO',
    'TP_FAIXA_ETARIA',
    'TP_SEXO',
    'TP_ESTADO_CIVIL',
    'TP_COR_RACA',
    'TP_NACIONALIDADE',
    #'TP_ESCOLA',
    'TP_ENSINO',
    'IN_TREINEIRO',
    'NO_MUNICIPIO_PROVA',
    'SG_UF_PROVA'
    #,'TP_DEPENDENCIA_ADM_ESC',
    #'TP_LOCALIZACAO_ESC'
]

df_limpo = df_limpo[colunas_desejadas]

In [ ]:
df_limpo.shape
# (linhas, colunas)

(12695, 11)

In [ ]:
list(df_limpo.columns)
# listando as colunas - de forma organizada

['NU_INSCRICAO',
 'NU_ANO',
 'TP_FAIXA_ETARIA',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'NO_MUNICIPIO_PROVA',
 'SG_UF_PROVA']

## **Base de Dados - Transformação**

In [ ]:
df_limpo.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ENSINO,IN_TREINEIRO,NO_MUNICIPIO_PROVA,SG_UF_PROVA
356,210062064761,2024,3,F,1,3,1,1.0,0,Boa Vista,RR
482,210062065000,2024,6,F,1,3,1,NaN,0,Boa Vista,RR
483,210062065001,2024,4,F,0,1,3,NaN,0,Boa Vista,RR
689,210062065277,2024,1,M,1,3,1,NaN,1,Boa Vista,RR
957,210062065550,2024,4,F,0,3,3,1.0,0,Boa Vista,RR

In [ ]:
# Dicionário de mapeamento
faixa_etaria_map = {
    1: "Menor de 17 anos",
    2: "17 anos",
    3: "18 anos",
    4: "19 anos",
    5: "20 anos",
    6: "21 anos",
    7: "22 anos",
    8: "23 anos",
    9: "24 anos",
    10: "25 anos",
    11: "Entre 26 e 30 anos",
    12: "Entre 31 e 35 anos",
    13: "Entre 36 e 40 anos",
    14: "Entre 41 e 45 anos",
    15: "Entre 46 e 50 anos",
    16: "Entre 51 e 55 anos",
    17: "Entre 56 e 60 anos",
    18: "Entre 61 e 65 anos",
    19: "Entre 66 e 70 anos",
    20: "Maior de 70 anos"
}

# substituir categoria pela descrição
df_limpo['TP_FAIXA_ETARIA'] = df_limpo['TP_FAIXA_ETARIA'].map(faixa_etaria_map)

In [ ]:
# dic de mapeamento
mapeamento_estado_civil = {
    0: "Não informado",
    1: "Solteiro(a)",
    2: "Casado(a)/Mora com companheiro(a)",
    3: "Divorciado(a)/Desquitado(a)/Separado(a)",
    4: "Viúvo(a)"
}

df_limpo['TP_ESTADO_CIVIL'] = df_limpo['TP_ESTADO_CIVIL'].map(mapeamento_estado_civil)

In [ ]:
df_limpo['TP_ESTADO_CIVIL'].value_counts()

TP_ESTADO_CIVIL
Solteiro(a)                                11301
Não informado                                637
Casado(a)/Mora com companheiro(a)            528
Divorciado(a)/Desquitado(a)/Separado(a)      217
Viúvo(a)                                      12
Name: count, dtype: int64

In [ ]:
# dicionário de mapeamento
mapeamento_cor = {
    0: "Não declarado",
    1: "Branca",
    2: "Preta",
    3: "Parda",
    4: "Amarela",
    5: "Indígena",
    6: "Não dispõe da informação"
}

# substituição
df_limpo['TP_COR_RACA'] = df_limpo['TP_COR_RACA'].map(mapeamento_cor)

df_limpo['TP_COR_RACA'].value_counts()

TP_COR_RACA
Parda            7440
Branca           3010
Preta            1050
Indígena          876
Amarela           165
Não declarado     154
Name: count, dtype: int64

In [ ]:
# dicionário de mapeamento
mapeamento_nacionalidade = {
    0: "Não informado",
    1: "Brasileiro(a)",
    2: "Brasileiro(a) Naturalizado(a)",
    3: "Estrangeiro(a)",
    4: "Brasileiro(a) Nato(a), nascido(a) no exterior"
}

# substituição
df_limpo['TP_NACIONALIDADE'] = df_limpo['TP_NACIONALIDADE'].map(mapeamento_nacionalidade)

In [ ]:
df_limpo['TP_COR_RACA'].value_counts()

TP_COR_RACA
Parda            7440
Branca           3010
Preta            1050
Indígena          876
Amarela           165
Não declarado     154
Name: count, dtype: int64

In [ ]:
# mapeamento TP_ENSINO
mapeamento_ensino = {
    1: "Ensino Regular",
    2: "Educação Especial - Modalidade Substitutiva"
}

df_limpo['TP_ENSINO'] = df_limpo['TP_ENSINO'].map(mapeamento_ensino)



# mapeamento IN_TREINEIRO
mapeamento_treineiro = {
    1: "Sim",
    0: "Não"
}

df_limpo['IN_TREINEIRO'] = df_limpo['IN_TREINEIRO'].map(mapeamento_treineiro)

In [ ]:
df_limpo['TP_ENSINO'].value_counts()

TP_ENSINO
Ensino Regular                                 5178
Educação Especial - Modalidade Substitutiva      39
Name: count, dtype: int64

In [ ]:
df_limpo['IN_TREINEIRO'].value_counts()

IN_TREINEIRO
Não    10696
Sim     1999
Name: count, dtype: int64

In [ ]:
df_limpo['TP_COR_RACA'].value_counts()

TP_COR_RACA
Parda            7440
Branca           3010
Preta            1050
Indígena          876
Amarela           165
Não declarado     154
Name: count, dtype: int64

In [ ]:
df_limpo.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ENSINO,IN_TREINEIRO,NO_MUNICIPIO_PROVA,SG_UF_PROVA
356,210062064761,2024,18 anos,F,Solteiro(a),Parda,Brasileiro(a),Ensino Regular,Não,Boa Vista,RR
482,210062065000,2024,21 anos,F,Solteiro(a),Parda,Brasileiro(a),NaN,Não,Boa Vista,RR
483,210062065001,2024,19 anos,F,Não informado,Branca,Estrangeiro(a),NaN,Não,Boa Vista,RR
689,210062065277,2024,Menor de 17 anos,M,Solteiro(a),Parda,Brasileiro(a),NaN,Sim,Boa Vista,RR
957,210062065550,2024,19 anos,F,Não informado,Parda,Estrangeiro(a),Ensino Regular,Não,Boa Vista,RR

In [ ]:
# Dicionário de renomeação
novos_nomes = {
    'NU_INSCRICAO': 'inscricao',
    'NU_ANO': 'ano',
    'TP_FAIXA_ETARIA': 'faixa_etaria',
    'TP_SEXO': 'sexo',
    'TP_ESTADO_CIVIL': 'estado_civil',
    'TP_COR_RACA': 'cor_raca',
    'TP_NACIONALIDADE': 'nacionalidade',
    #'TP_ESCOLA': 'tipo_escola',
    'TP_ENSINO': 'tipo_ensino',
    'IN_TREINEIRO': 'treineiro',
    'NO_MUNICIPIO_PROVA': 'municipio_prova',
    'SG_UF_PROVA': 'uf_prova'
    #,'TP_DEPENDENCIA_ADM_ESC': 'dependencia_adm_escola',
    # 'TP_LOCALIZACAO_ESC': 'localizacao_escola'
}

# nova variavel para novo dataset
# df → df_limpo → df_limpo_rr
df_limpo_rr = df_limpo.rename(columns=novos_nomes)

# ver as novas colunas
df_limpo_rr.columns

Index(['inscricao', 'ano', 'faixa_etaria', 'sexo', 'estado_civil', 'cor_raca',
       'nacionalidade', 'tipo_ensino', 'treineiro', 'municipio_prova',
       'uf_prova'],
      dtype='object')

In [ ]:
df_limpo_rr.head(10)

,inscricao,ano,faixa_etaria,sexo,estado_civil,cor_raca,nacionalidade,tipo_ensino,treineiro,municipio_prova,uf_prova
356,210062064761,2024,18 anos,F,Solteiro(a),Parda,Brasileiro(a),Ensino Regular,Não,Boa Vista,RR
482,210062065000,2024,21 anos,F,Solteiro(a),Parda,Brasileiro(a),NaN,Não,Boa Vista,RR
483,210062065001,2024,19 anos,F,Não informado,Branca,Estrangeiro(a),NaN,Não,Boa Vista,RR
689,210062065277,2024,Menor de 17 anos,M,Solteiro(a),Parda,Brasileiro(a),NaN,Sim,Boa Vista,RR
957,210062065550,2024,19 anos,F,Não informado,Parda,Estrangeiro(a),Ensino Regular,Não,Boa Vista,RR
1197,210062065941,2024,20 anos,M,Solteiro(a),Parda,Brasileiro(a),NaN,Não,Boa Vista,RR
1985,210062066959,2024,22 anos,M,Solteiro(a),Parda,Brasileiro(a),NaN,Não,Boa Vista,RR
2171,210062067258,2024,18 anos,F,Solteiro(a),Preta,Brasileiro(a),Ensino Regular,Não,Boa Vista,RR
2242,210062067329,2024,17 anos,F,Solteiro(a),Branca,Brasileiro(a),Ensino Regular,Não,Caracaraí,RR
2291,210062067378,2024,17 anos,M,Solteiro(a),Parda,Brasileiro(a),Ensino Regular,Não,Boa Vista,RR

## **Base de Dados Limpa - Salvamento**

In [ ]:
pasta_destino = '/content/drive/MyDrive/Projeto Final - DADOS_3_10/3. Bases de Dados Limpas'

# nome do arquivo .csv lá na pasta destino
arquivo_destino = pasta_destino + '/enem2024_rr_limpo.csv'

# df_limpo_rr vai ser salvo em .cvs
df_limpo_rr.to_csv(arquivo_destino, index=False, sep=';', encoding='utf-8')

print(f"Arquivo salvo em: {arquivo_destino}")

Arquivo salvo em: /content/drive/MyDrive/Projeto Final - DADOS_3_10/3. Bases de Dados Limpas/enem2024_rr_limpo.csv